body, html {


}
.container {

}
.alert-info>a {
    background-color: rgb(192	255	255	);
    color: black;
    text-decoration: none;
    width: 100px;
    font-weight: bold;

}
.alert-info {
    text-align: center;
    background-color: rgb(192 255 255);
    border: 1px solid lightgrey;
    padding: 10px;
    width: 100%;
    margin-left: 10px;
    margin-right: 5px;

}
h1 {
    text-align: center;
    margin-top: 10px;
    width: 110%;

}
nav {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    background-color: rgb(204	204	204	);
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-right: 50px;
}
.header-img {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;

}
.header-img>img {
    width: 100%;
    padding: 0px;
    margin: 0;
    text-align: center;
}
.main, .sub-section {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;

}
section {
    width: 100%;
    float: left;
}
footer {
    margin-top: 100px;

    float: left;
    display: inline-block;
}
footer>p {
    float: left;

    position: relative;

}


#social-media-links>img {
    width: 5%;
    float: right;
    position: relative;
    display: inline-block;

}

/*Desktop*/
@media screen and (min-width:768px) {
    body.a {
        background: #fff;
        display: flex;
        line-height: 1.4;
    }

    .nav-links {

        padding: 0;
        background-color: transparent;
        float: right;
    }
    .hidden-on-desktop {
        display: none;
    }
    h1 {
        all: unset;
        text-align: left;
        float: left;
        margin: 0;
        font-size: 3em;

    }
    li {
        background-color: transparent;
        display: inline;

    }
    ul {
        float: right;
    }
    .header-img {
        margin-top: 100px;
    }

}
